@model Authentication.Roles.Controllers.LoginViewModel
<h1>Login</h1>

<a asp-controller="Home" asp-action="Index">Home</a>

<form asp-controller="Admin" asp-action="Login" method="post">
    <input hidden asp-for="ReturnUrl"/>
    <div>
        <label>UserName</label>
        <input asp-for="UserName"/>
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>

    <p>
        <button type="submit">Log in</button>
    </p>
</form>