[<a asp-controller="Site" asp-action="Index">Index</a>]
[<a asp-controller="Site" asp-action="Secret">Secret</a>]
[<a asp-controller="Site" asp-action="Secret1">Secret1</a>]
[<a asp-controller="Site" asp-action="Secret2">Secret2</a>]